@using PagedList.Mvc;
@model PagedList.IPagedList<Project.Service.ViewModels.VehicleMakeViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Vehicle Makers";
}

<h2>Vehicle Makers Table</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "VehicleMake", FormMethod.Get))
{
    <p>
        Find: @Html.TextBox("searchCondition", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
           @Html.ActionLink("Name", "Index", new { sortCondition = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Abrv", "Index", new { sortCondition = ViewBag.AbrvSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abrv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VMakeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VMakeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VMakeID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortCondition = Request["sortCondition"], currentFilter = ViewBag.CurrentFilter }))
